body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ce0808;
    z-index: 1000;
  }
  
  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #navbar li {
    float: left;
  }
  
  #navbar li a {
    display: block;
    padding: 20px 20px;
    color: rgb(23, 232, 169);
    text-align: center;
    text-decoration: none;
  }
  
  #navbar li a:hover {
    background-color: #9327d5;
  }
  
  .content {
    margin-top: 80px; /* Adjust according to the height of the navbar */
    padding: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  